dj_database_url==0.5.0
Django==3.1.8
django_filter==2.4.0
django_heroku==0.3.1
django-extensions
django-widget-tweaks==1.5.0
django-tempus-dominus==5.1.2.17
langdetect==1.0.9
Faker==25.3.0
psycopg2-binary>=2.8,<3.0
python-dotenv
gunicorn