{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% block local_title%}
Profile | Dashboard | York River Bookstore
{% endblock %}
 {% block local_content %}

 
 <div class="content-panel">
                    <h2 style="margin-top: 0;">Your Profile</h2><br>
                    <form class="form-horizontal">
                   
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title bolder">Personal Info</h3>
                            
                            
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text bg-info text-white" id="basic-addon3">Username</span>
  </div>
   {% render_field form.username|append_attr:"readonly:readonly"   %}
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text bg-info text-white" id="basic-addon3">First name</span>
  </div>
   {% render_field form.first_name|append_attr:"readonly:readonly"   %}
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text bg-info text-white" id="basic-addon3">Last name</span>
  </div>
   {% render_field form.last_name|append_attr:"readonly:readonly"   %}
</div>
                    
        
                            
                            
                        </fieldset>
                        
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Contact Info</h3>
                            <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text bg-info text-white" id="basic-addon3">City</span>
  </div>
   {{ form.city|append_attr:"readonly:readonly"  }}
</div>      
                        
                        </fieldset>
                      
                        
                        
                        
                    </form><div class="text-center">
                           <a href="{% url 'editprofile' %}" class="btn btn-dark" role="button" aria-pressed="true">Edit Profile</a>
                            </div>
                </div>
                
              <br><br>
               
 {% endblock %}



 