{% extends 'dashboard.html' %}
{% load widget_tweaks%}
{% block local_title%}
Clubs | Dashboard | York River Bookstore
{% endblock %}
 {% block local_content %}
 
 <div class="content-panel">
 <h2 style="margin-top: 0">Your Clubs</h2><br>
 <ul class="list-group">{%for club in all_clubs%}
  <li class="list-group-item">
    {{club.club.club}}</li>
  {% endfor%}<br>

<form method="POST">
 {% csrf_token%}
        <div class="form-group ">
        {% render_field form.club class="form-control"%}
         <br>
                            <div class="text-center" >
                                <input class="btn btn-dark" type="submit" value="Add club">
                                
                            </div>
                            
                        </div>
                        
                    </form>
 </ul>
<br> 
   </div>    
  
                
 {% endblock %}