{% extends 'dashboard.html' %}
 {% load widget_tweaks %}
{% block local_title%}
Purchase | Dashboard | York River Bookstore
{% endblock %}
{% block local_content %}

<div class="container1">
<div class="content-panel ">
<div class="container1">
  <form method="get">
    <div class="well">
      <h2 style="margin-top: 0">Your Purchases</h2><br>
      <div class="row">
        <div class="form-group col-sm-4 col-md-6">
          {{"Title:"}}
          {% render_field filter.form.title class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{"Club:"}}
          {% render_field filter.form.club class="form-control" %}
        </div>
        
        <div class="form-group col-sm-4 col-md-3">
          {{"Year purchased:"}}
         {% render_field filter.form.whenp class="form-control" value=year%}
         
        </div>
        
        
        <script>

</script>
      </div>
       
      <button type="submit" class="btn btn-dark">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
      
    </div>
  </form>
</div>
<br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Club</th>
        <th>Date purchased</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in filter.qs %}
        <tr>
          <td>{{ purchase.title}}</td>
          <td>{{ purchase.club }}</td>
          <td>{{ purchase.whenp}}</td>
          <td>{{purchase.qnty}}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  </div>
  </div>
   
{% endblock %}
{% block local_style%}
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
  html{
    width: 100%;
    
    overflow-x: hidden;  
  }
  body{
    height:auto
  }
}
{% endblock %}
 