{% extends 'index.html' %}

{% load cart_tag %}
{% block head%}

{% endblock %}
{% block content%}
{% if request.session.cart|length == 0 %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>Your Cart is Empty</strong></h3>
                        <h4>Add something to make me happy :)</h4> <a href="{% url 'books:super'%}" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Continue shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container4">
</div>
{% else %}

<div class ="container"><br><h2>Your Shopping Cart</h2><br>
    <div class="row">
        <div class="col-sm-12 col-md-15 col-md-offset-1">
            <table class="mytable mobile-optimised table-light">
                <thead>
                    <tr>
                        <th>Book</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                {% for key,value in request.session.cart.items %}
                   <tr>
                        <td class="col-md-6">
                        <div class="media">
                        
                           <div class="media-body">
                                <h4 class="media-heading"><a href="{%url 'books:bookdetail' value.product_id %}">{{value.title}}</a></h4>
                                 <h5 class="media-heading"> Offered by {{value.club}}</h5>
                                <span class="text-success"><strong>In Stock</strong></span>
                                
                            </div>
                        </div></td>
                        <td data-th="Quantity" class="col-md-1" style="text-align: center">
                    <form method="POST" action="{% url 'cart:item_increment' value.product_id %}">
                    {% csrf_token %}
                   
                        <input type="number" name="qnty" class="form-control" value="{{value.quantity}}">
                        <input class="btn btn-warning"  style="font-size:10px; font-weight:bold;" type="submit" value="Update">
                     
                    </form>
                        </td>
                        <td data-th="Price" class="col-md-1 text-center"><strong>${{value.price}}</strong></td>
                        <td data-th="Total" class="col-md-1 text-center"><strong>${{ value.price|multiply:value.quantity|floatformat:2 }}</strong></td>
                        <td class="col-md-1 text-center">
                        <form method="POST" action="{% url 'cart:item_clear' value.product_id %}">
                    {% csrf_token %}
                    
                        <input class="btn btn-danger" type="submit" value="Remove"> </form>
                    </td></tr>
                    {% endfor %}
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>${{ cart_subtotal_amount|floatformat:2 }}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>${{ cart_shipping|floatformat:2 }}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>${{ cart_total_amount|floatformat:2 }}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button onclick="location.href='{% url 'books:super'%}'" type="button" class="btn btn-dark">
                            <span class="glyphicon glyphicon-shopping-cart">Continue shopping</span>
                        </button></td>
                        <td>
                        <button type="button" onclick="location.href='{% url 'cart:review'%}'"  class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container4">
</div>

{% endif %}
{% endblock %}
{% block style%}

@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);
 @media screen and (min-width: 768px) {
  html{
    width: 100%;
    height: 100%;  
  }
}
.card{
    margin: 100px;
    border: transparent;
}
.container4{
    margin:10%;
}
.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #4466f2 !important;
    border-color: #4466f2 !important
}
.mytable{
	width:100%;
	margin:0 auto;
	max-width:1200px;
	border-collapse:collapse;
}
.mytable td{
	border: inset 1px;
	padding:10px;
	vertical-align:top;
}
p{margin:0 0 1em}

@media screen and (max-width:601px) {
	table.mobile-optimised {
		word-wrap:break-word;
	}
	table.mobile-optimised thead {
		display:none
	}
	table.mobile-optimised td {
		display:block;
		float:left;/* ie9 and under hack */
		width:100%;
		clear:both;
		
		padding:10px 5px;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	table.mobile-optimised tbody, table.mobile-optimised tr {
		display:block
	}
	.mobile-optimised td:before {
		content:attr(data-th);
		display:block;
		font-weight:bold;
		margin:0 0 2px;
		color:#000;
	}
	.mobile-optimised tbody tr {
		float:left;width:100%;
    margin-bottom:10px;
	}
}

{% endblock%}