{% extends 'index.html'%}
{% load cart_tag %}
{% block content%}

<div class ="container"><br><h2>Review</h2><br>
    <div class="row">
        <div class="col-sm-12 col-md-15 col-md-offset-1">
            <table class="mytable mobile-optimised table-light">
                <thead>
                    <tr>

                        <th>Book</th>
                       <th></th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        
                    </tr>
                </thead>
                <tbody>
                {% for key,value in request.session.cart.items %}
                   <tr>
                        <td class="col-md-6">
                        <div class="media">
                        
                           <div class="media-body">
                                <h4 class="media-heading">{{value.title}}</h4>
                                 <h5 class="media-heading"> Offered by {{value.club}}</h5>
                                <span class="text-success"><strong>In Stock</strong></span>
                                
                            </div>
                        </div></td>
                        
                        <td></td>
                   <td data-th="Quantity" class="col-md-1" style="text-align: center">
                        <input type="number" name="qnty" class="form-control" value="{{value.quantity}}" readonly>
                        
                        </td>
                        <td data-th="Price" class="col-md-1 text-center"><strong>${{value.price}}</strong></td>
                        <td data-th="Total" class="col-md-1 text-center"><strong>${{ value.price|multiply:value.quantity|floatformat:2 }}</strong></td>
                        
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>${{ cart_subtotal_amount|floatformat:2 }}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>${{ cart_shipping|floatformat:2 }}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>${{ cart_total_amount|floatformat:2 }}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button onclick="location.href='{% url 'cart:cart_detail' %}'" type="button" class="btn btn-dark">
                            <span class="glyphicon glyphicon-shopping-cart">Change</span>
                        </button></td>
                        <td>
                        <button type="button" onclick="location.href='{% url 'cart:purchase' %}'"  class="btn btn-success">
                            Purchase <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock%}

{% block style%}
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

.card{
    margin: 100px;
    border: transparent;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #4466f2 !important;
    border-color: #4466f2 !important
}
.mytable{
	width:100%;
	margin:0 auto;
	max-width:1200px;
	border-collapse:collapse;
}
.mytable td{
	border: inset 1px;
	padding:10px;
	vertical-align:top;
}
p{margin:0 0 1em}

@media screen and (max-width:601px) {
	table.mobile-optimised {
		word-wrap:break-word;
	}
	table.mobile-optimised thead {
		display:none
	}
	table.mobile-optimised td {
		display:block;
		float:left;/* ie9 and under hack */
		width:100%;
		clear:both;
		
		padding:10px 5px;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	table.mobile-optimised tbody, table.mobile-optimised tr {
		display:block
	}
	.mobile-optimised td:before {
		content:attr(data-th);
		display:block;
		font-weight:bold;
		margin:0 0 2px;
		color:#000;
	}
	.mobile-optimised tbody tr {
		float:left;width:100%;
    margin-bottom:10px;
	}
}
{% endblock %}