{% extends 'index.html'%}
{% load cart_tag %}
{% block content%}

<div class ="container"><br><h2>Review</h2><br>
    <div class="row">
        <div class="col-sm-12 col-md-15 col-md-offset-1">
            <table class="table">
                <thead>
                    <tr>

                        <th>Book</th>
                       <th></th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        
                    </tr>
                </thead>
                <tbody>
                {% for key,value in request.session.cart.items %}
                   <tr>
                        <td class="col-md-6">
                        <div class="media">
                        
                           <div class="media-body">
                                <h4 class="media-heading">{{value.title}}</h4>
                                 <h5 class="media-heading"> Offered by {{value.club}}</h5>
                                <span class="text-success"><strong>In Stock</strong></span>
                                
                            </div>
                        </div></td>
                        
                        <td></td>
                   <td class="col-md-1" style="text-align: center">
                        <input type="number" name="qnty" class="form-control" value="{{value.quantity}}" readonly>
                        
                        </td>
                        <td class="col-md-1 text-center"><strong>${{value.price}}</strong></td>
                        <td class="col-md-1 text-center"><strong>${{ value.price|multiply:value.quantity|floatformat:2 }}</strong></td>
                        
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>${{ cart_subtotal_amount|floatformat:2 }}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>${{ cart_shipping|floatformat:2 }}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>${{ cart_total_amount|floatformat:2 }}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button onclick="location.href='{% url 'cart:cart_detail' %}'" type="button" class="btn btn-dark">
                            <span class="glyphicon glyphicon-shopping-cart">Change</span>
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Purchase <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock%}